.content-container {
	margin-top: 10rem;
	padding: .5rem 4rem;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cards-boxes {
	display: flex;
	margin-bottom: 3rem;
	
	
}

.content-card {
	margin-left: 2rem;

}

@media (max-width:1141px) {
html {
	font-size: 50%;
}
}

@media (max-width: 687px) {
	.carousel {
		display:flex;
		align-items: center;
    justify-content: center;
    align-content: center;

	}

.card-container {
	width:10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
}

@media (max-width: 838px) {
	.cards-boxes {  
	
	flex-direction: column;
	gap: 3rem;

}



}
